<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="aboutMe">
      <h1>Candidate Code :: <%= data.aboutMe.candidate_code%></h1>
      <h1>email = <%= data.aboutMe.email%></h1>
      <h1>description = <%= data.aboutMe.description%></h1>
      <h1>role =<%= data.aboutMe.role%></h1>
      <% for (let education of data.aboutMe.education) { %>
      <div>
        <h1>Education :::<%= education.education%></h1>
      </div>
      <%}%>
      <h1>experienceYear =<%= data.aboutMe.experienceYear%></h1>
      <h1>experienceMonth =<%= data.aboutMe.experienceMonth%></h1>
      <h1>skills =<%= data.skills%></h1>
      <h1>Experience =<%= data.experience%></h1>
     
      <h1>Extraskill =<%= data.extraSkill%></h1>
      <h1>Extraskill certi=<%= data.extraSkill.certificate%></h1>
      <% for (let certi of data.extraSkill.certificate) { %>
      <div>
        <h1>Skills :::<%= certi.certificate%></h1>
      </div>
      <%}%>
    </div>
    <div>
        <img src="<%= image%>" alt="">
    </div>
  </body>
</html>
